/*-------------------*/
/*4K / LARGER DESKTOP*/
/*-------------------*/

/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/

body {
	font-family: "Arial Black", Gadget, sans-serif;
    background-color: #DEF0FE;
}

.container {
	width: 90%;
}

header {
	background-repeat: no-repeat;
}

header h1 {
	animation-name: colour;
}

nav ul {
	list-style: none;
}

nav ul li {
	width:16.65%;
	border-bottom:5px solid #57B1FB;
}

nav ul li a {
	display:block;
	padding-top:5px;
	padding-bottom:5px;
}

nav ul li:last-child {
	border-right:0;
}

.content {
	background-image:url('../images/grass.gif');
	height:90%;
}

.sidedivision {
	background-color: #B9DEFD;
}

.middledivision {
	width: 66.6%;
	background-color:rgba(255,252,193,0.55);
	overflow:auto;
}

.wide img {
	width: 33.3%;
}

#logo {
	animation-name: flash;
}

.middleright ul {
	list-style-position:inside;
}

#readmore {
	background-color: #009900;
	padding:5px;
	border-radius:5px;
	margin-top:20px;
}

#readmore:hover {
	background-color: #57B1FB;
}

.image {
	height:33.33%;
	position:relative;
}

.image img {
	max-height:90%;
	max-width:90%;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;  
    right: 0;
}

#contact {
	width: 33.35%;
}

#contact p {
	word-wrap:break-word;
}

#contact img {
	margin-right:20px;
	width:36px;
	height:36px;
}

iframe {
	min-height: 750px;
}

#form {
	width:66.65%;
}

input {
	height:30px;
}

textarea {
	height:200px;
}

footer img {
	max-width:25%;
}

footer h2 {
	max-width:50%;
}

@keyframes flash {
    from {
		opacity:0.2;
	}
    to {
		opacity:1;
	}
}

@keyframes colour {
    from {
		color: #009900;
	}
    to {
		color:white;
	}
}

h1 {
	font-size:1.5em;
}

/*-------------*/
/*GROUPED RULES*/
/*-------------*/

footer img, .wide img, .review { 
	padding-left:20px;
}

.review, .wide img {
	padding-right:20px;
}

header, footer h2 {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.50);
}

.middledivision, .sidedivision, nav ul li a {
	color: #00A2E8;
}

.content, nav ul li a {
	background-color: white;
}

.content, header, footer {
	background-size: 100% 100%;
}

body, ul, p, h1, h2, h3  {
	margin:0;
	padding:0;
}

body, ul, p, h2, h3  {
	font-size:1.3em;
}

#readmore, header, footer h2 {
	color: white;
}

footer h2, footer img {
	vertical-align:middle;
}

nav ul li, header, footer {
	overflow:hidden;
}

#logo, header h1 {
	animation-duration: 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#readmore, footer img, .middledivision, footer h2 {
	display:inline-block;
}

.middleright h2, .wide h2, .middleleft h2, nav ul li a:hover {
	text-decoration: underline;
}

nav ul li a, #readmore {
	text-decoration: none;
}

.wide h3, #faq h3, nav ul li a:hover, .middleright h2, .wide h2, .middleleft h2 {
	color: #009900;
}

input[type="text"], input[type="submit"], input[type="email"], textarea, video, audio {
	margin-bottom:20px;
}

nav ul, .content, header, footer {
	text-align: center;
}

#clear, footer, .content {
    clear:both;
}

.input, .middleright ul, #contact p {
	text-align:left;
}

.review, #buy ul {
	width:50%;	
}

.middleright, .middleleft, .tagline, .wide {
	padding-left:5%;
	padding-right:5%;
}

#contact img, .wide, .middleright, .middleleft {
	padding-top:20px;
}

#faq p, .review, .middleright, .middleright h2, .wide h2, .middleleft h2, #logo, .wide img {
	padding-bottom:20px;
}

#search, #contact img, .wide {
	padding-bottom:0;
}

nav ul li:first-child, nav ul li:last-child, .sidedivision {
	width: 16.7%;	
}

.container, .image img, .wide img {
	margin:auto;
}

html, body, .container, .middledivision, .sidedivision {
	height:100%;
}

nav, nav ul, .content, #logo, .middleright, .middleleft, .image, video, audio, iframe, .input, input, textarea, #faq, #search {
	width:100%;
}

footer img, footer, .sidedivision, nav, nav ul li, nav ul li a, .content, .middledivision, .middleright, .middleleft, iframe, #buy ul, .review, .input, input, textarea, .wide img  {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#form, #contact img, #leftdivision, nav ul li {
	float:left;
}

nav, nav ul, .image, #buy ul, #buy, .wide, .wide img, #faq, .review, #contact, .content, #rightdivision {
	float:right;
}

nav, nav ul li, .content, .middledivision, #leftdivision {
	border-right:5px solid #57B1FB;
}

nav, .content {
	border-left:5px solid #57B1FB;
}

header, footer {
	/* Prefix For Firefox 3.6+ */ 
	background-image:url('../images/header_logo.gif'), -moz-linear-gradient(top, #B9DEFD 0%, #FFFCC1 100%);
	/* Prefix For IE 10 */ 
	background-image:url('../images/header_logo.gif'), -ms-linear-gradient(top, #B9DEFD 0%, #FFFCC1 100%);
	/* Prefix for Safari 5.1, Chrome 10+ */ 
	background-image:url('../images/header_logo.gif'), -webkit-linear-gradient(top, #B9DEFD 0%,#FFFCC1 100%);
	background-image:url('../images/header_logo.gif'), -webkit-linear-gradient(linear, left top, left bottom, color- stop(0%,#B9DEFD), color-stop(100%,#FFFCC1));
	/* Safari 4-5, Chrome 1-9 */
	background-image:url('../images/header_logo.gif'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFCC1), to(#B9DEFD)); 
	/* Opera 11.10+ */
	background-image:url('../images/header_logo.gif'), -o-linear-gradient(top, #B9DEFD 0%,#FFFCC1 100%);
	padding:10px;
	background-position:bottom;
	border:5px solid #57B1FB;
}

/*-----------*/
/*MEDIA RULES*/
/*-----------*/

/*-------*/
/*DESKTOP*/
/*-------*/

@media screen and (max-width:2000px) {
	
/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/

.sidedivision {
	border-top: 5px solid #57B1FB;
}

.image {
	height:100%;
	width:33.33%;
}

.image img {
	padding:10px;
	position:static;
}

iframe {
	margin-bottom:20px;
}

.input:first-child {
	display:inline-block;
}

#form .input:first-child {
	padding-right:5%;
}

.tagline p {
	margin:auto;
}

/*-------------*/
/*GROUPED RULES*/
/*-------------*/

#search, .tagline {
	padding-bottom:20px;
}

.container, .content, .middledivision, .sidedivision, .tagline {
	height:auto;
}

.middledivision, #buy ul {
	width:100%;
}

.middledivision, #leftdivision {
	border-right:0;
}

.middledivision, .input, #search {
	float:right;
}

.sidedivision, .input {
	width:50%;
}

#rightdivision, .tagline, .middleleft {
	float:left;
}

#faq, .middleleft, .tagline {
	width:66.65%;
}

#buy ul, .input:first-child {
	float:none;
}

.middleleft, .tagline, .middleright {
	overflow:auto;
}

.middleleft, .tagline {
	border-right:5px solid #57B1FB;
}

.tagline, .image img {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

.middleright, #search {
	width:33.35%;
}
}

/*------*/
/*LAPTOP*/
/*------*/

@media screen and (max-width:1400px) {

/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/

.middleright {
	height:85%;
}

.middleleft {
	height:100%;
}

.tagline {
	width:33.35%;
	border-right:0;
	padding-top:20px;
	padding-bottom:0px;
}

h1 {
	font-size:1.3em;
}

/*-------------*/
/*GROUPED RULES*/
/*-------------*/

body, ul, p, h1, h2, h3  {
	margin:0;
	padding:0;
}

body, ul, p, h2, h3  {
	font-size:1.1em;
}

.middleright, .tagline {
	float:right;
}
}

/*------------*/
/*LAPTOP SMALL*/
/*------------*/

@media screen and (max-width:1025px) {

/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/

.middleleft {
	border-right:0;
}

.tagline {
	padding-top:0;
}

#search {
	padding-bottom:0;
}

#form .input:first-child {
	padding-right:0;
}

/*-------------*/
/*GROUPED RULES*/
/*-------------*/

.middleleft, .tagline, .middleright {
	float:none;
}

.input, #contact, #form, #faq, #search, .review, .wide img, .middleleft, .tagline, .middleright {
	width:100%;
}

input[type="submit"], iframe {
	margin-bottom:0;
}
}

/*---------------*/
/*TABLET PORTRAIT*/
/*---------------*/

@media only screen and (max-device-width: 1024px) 
  and (orientation: portrait) {
	  
/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/

.content {
	height:80%;
}

#leftdivision {
	float:right;
}

.image {
	height:33.33%;
	width:100%;
}

.image img { 
    position: absolute;
}

.middledivision {
	float:left;
	width: 66.65%;
	border-right:5px solid #57B1FB;	
}

.sidedivision {
	height:50%;
	border-top:0;
	width:33.35%;
}

/*-------------*/
/*GROUPED RULES*/
/*-------------*/

.container, .middledivision {
	height:100%;
}

.middleleft, .middleright {
	height:auto;
}

.input, .wide, .review {
	float:none;
}
}

/*----------------*/
/*TABLET LANDSCAPE*/
/*----------------*/

@media only screen and (max-device-width: 1024px) 
  and (orientation: landscape) {

/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/
  
.middleleft {
	float:left;
}

.tagline {
	padding-top:20px;
}

.wide img {
	width:33.3%;
}

#search {
	padding-bottom:20px;
}

#form .input:first-child {
	padding-right:5%;
} 

h1 {
	font-size:1.2em;
}
  
/*-------------*/
/*GROUPED RULES*/
/*-------------*/
  
body, ul, p, h1, h2, h3  {
	margin:0;
	padding:0;
}

body, ul, p, h2, h3  {
	font-size:1em;
}

#contact, #search, .tagline, .middleright {
	width:33.35%;
}

#faq, #form, .middleleft {
	width:66.65%;
}

input[type="submit"], iframe {
	margin-bottom:20px;
}

.review, .input {
	width:50%;
}

.tagline, .middleright {
	float:right;
}
}

/*--------------*/
/*PHONE PORTRAIT*/
/*--------------*/

@media only screen and (max-device-width: 767px) 
  and (orientation: portrait) {

/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/

nav ul li {
	display:block;
}

.sidedivision {
	display:none;
}

h1 {
	font-size:1.1em;
}

/*-------------*/
/*GROUPED RULES*/
/*-------------*/

body, ul, p, h1, h2, h3  {
	margin:0;
	padding:0;
}

body, ul, p, h2, h3  {
	font-size:0.9em;
}

.content, .container, .middledivision {
	height:auto;
}

nav ul li:first-child, nav ul li:last-child, .middledivision, nav ul li {
	width:100%;
}

.middledivision, nav ul li {
	border-right:0;
}
}

/*---------------*/
/*PHONE LANDSCAPE*/
/*---------------*/

@media only screen and (max-device-width: 767px)
  and (orientation: landscape) {

/*-----------------*/
/*INDEPENDENT RULES*/
/*-----------------*/

.container {
	border-top:5px solid #57B1FB;
}

footer {
	clear:none;
}

.middleleft {
	height:85%;
}

.content {
	height:66.6%;
	clear:left;
	border-bottom:5px solid #57B1FB;
}

.tagline {
	width: 66.65%;
	height:15%;
	padding-top:0;
	font-size:0.7em;
}

nav ul li {
	border-right:0;
}

nav { 
	width: 20%;
	border-left:0;
}

header {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	padding:0;
}

nav ul li {
	height:16.65%;
	background-color: white;
}

.sidedivision {
	display:none;
}

h1 {
	font-size:1.1em;
}

/*-------------*/
/*GROUPED RULES*/
/*-------------*/
  
.tagline, header {
	float:left;
}

body, ul, p, h1, h2, h3  {
	margin:0;
	padding:0;
}

body, ul, p, h2, h3  {
	font-size:0.9em;
}

.center, nav ul li a, .tagline p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.container, nav, nav ul, .middledivision, #map, #form, #faq, .middleright {
	height:100%;
}

.middledivision, .content, .middleright {
	float:none;
}

nav ul li:first-child, nav ul li:last-child, nav ul li {
	width: 100%;
}

footer, .content, header {
	width:80%;
}

nav ul li:first-child, nav ul li:last-child, header, footer {
	height:16.7%;
}

footer, header {
	border-top:0;
}
}
